*{
    padding:0px;
    border: none;
    margin:0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: left; 
    padding: 20px 100px 20px 20px ;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap:20px;
    
}
.name{
 display: flex;
 }

.name p{
    margin-top: 10px;
}
nav h1 {
    margin: 0;
    font-size: 1.8rem;
    /* text-align: left; */
}

nav p {
    margin: 0 0 0 10px;
    color: #666;
    font-size: 0.9rem; 
    font-style: italic; 
}

.nav-title {
    display: flex;
    align-items: baseline;
}
.nav-links{
    /* border: 1px solid #000; */
    padding-top: 10px;

}
.nav-links a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    
   
}


.hero {
    display: flex;
    align-items: middle; 
    justify-content: flex-start;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.profile-pic {
    width: 400px;
    height: 400px;
    background-image: url('mee.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.intro {
    text-align: left;
    /* max-width: 600px; */
    display: flex;
    
    flex-direction: column;
    justify-content:space-evenly ;
    /* gap:80px; */
    /* border:1px solid black; */
}

.intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}


.navigation {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.nav-btn {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    margin: 0 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.nav-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.about, .projects, .contact{
        border-radius: 25px;

    border: 3px solid #000; 
}

.about { 
    background-color: #FFA500; 
    border-color: #FF8C00; 
}

.projects { 
    background-color: #4169E1; 
    border-color: #0000CD; 
}

.contact { 
    background-color: #20B2AA; 
    border-radius: 25px;
    border-color:#0F847C8c; 

}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .profile-pic {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .intro {
        text-align: center;
    }
}
footer {
    background-color: hsl(0, 0%, 94%);
    padding: 10px;
    text-align: center;
    display: flex;
    position: absolute;
    justify-content: space-around; /* Adjust as needed */
    align-items: center;
    width: 100vw;
    bottom: 0;
}
footer div {
    margin-bottom: 10px;
}